<!DOCTYPE html>
<html>
  <head>
    <title>Quake</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render "layouts/navbar" %>

  <div class="container">

    <div class="starter-template">
      <body>
        <%= yield %>
      </body>
    </div>

    <%= render "layouts/footer" %>

  </div><!-- /.container -->




</html>
