<%= form_for @location do |f| %>
  <p>
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </p>
  <p>
    <%= f.label "Location (place)" %>
    <%= f.text_field :locname %>
  </p>
  <p>
    <%= f.label :latitude %>
    <%= f.number_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %>
    <%= f.number_field :longitude %>
  </p>
  <p>
    <%= f.label "Maximum reporting radius (KM)" %>
    <%= f.select(:maxradiuskm, [100, 200, 300, 400, 500]) %>
  </p>
  <p>
    <%= f.label "Minimum reporting magnitude" %>
    <%= f.select(:minmagnitude, [2.5, 3.5, 4.5, 5]) %>
  </p>
<p>
  <%= f.submit :Submit, class: 'btn btn-success' %>
  <%= link_to "Cancel", locations_path, class: "btn btn-primary" %>
</p>

<% end %>
