<h1><%=pluralize(@locations.size, "Location")%></h1>

<% @locations.each do |location| %>
  <article class="locations">
    <header>
      <h2><%= location.nickname.capitalize.to_s %></h2>
    </header>
    <table>
      <tr>
        <th>Location name:</th>
        <td><%= location.locname %></td>
      </tr>
      <tr>
        <th>Latitude:</th>
        <td><%= location.latitude %></td>
      </tr>
      <tr>
        <th>Longitude:</th>
        <td><%= location.longitude %></td>
      </tr>
      <tr>
        <th>Maximum reporting radius (KM):</th>
        <td><%= location.maxradiuskm %></td>
      </tr>
      <tr>
        <th>Minimum reporting magnigude:</th>
        <td><%= location.minmagnitude %></td>
      </tr>
    </table>
  </article>
<% end %>
